*{ box-sizing: border-box; }

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
    margin: 0;
    background-color: #FCFAF9;
    color: #191826;
}

/* ==================
    General styles
===================== */

img {
    max-width: 100%;
}

/* ==================
    Typography
===================== */

h1,
h2 {
    font-weight: 700;
    margin-top: 0;
}

.hero-title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1.25rem;
}

.subtitle {
    margin-bottom: 10.375rem;
}

.info-card-title {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0.75rem;
}

.info-card-description {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 2.25rem;
}

/* buttons */

.btn {
    display: inline-block;
    width: 100%;
    padding: 0.875em 0;
    border-radius: 12px;
    color: #FCFAF9;
    font-size: 1.125rem;
    line-height: 2rem;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.btn-primary {
    background-color: #191826;
    margin-bottom: 1rem;
}

.btn-secondary {
    background-color: #FCFAF9;
    color: #191826;
}

/* ==================
    General layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(0px, 500px) minmax(1.5rem, 1fr);
}


/* ==================
    Layout
===================== */


/* change name - - - - - - */
.patterns {
    background-image: url(../assets/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position-y: -250px;
    background-position-x: 10px;
}

.header {
    margin: 2.5rem 0 4rem 0;
}

.header,
.hero,
.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.info {
    border-radius: 12px;
    background-image: url(../assets/bg-pattern-2.svg);
    background-size: 280px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
}

.illustration-app {
    display: block;
    width: 209px;
    margin: 0 auto;
    transform: translateY(-6.125rem);
}

.info-card {
    color: #FCFAF9;
    border-radius: 12px;
    background-color: #FA7453;
    padding: 3rem 2.25rem;
}